::selection {
    background: rgb(81, 177, 201); /* Safari */
    color: #f3f3f3;
}
::-moz-selection {
    background: rgb(81, 177, 201); /* Firefox */
    color: #f3f3f3;
}
body {
    font-size: .85em;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #232323;
    background-color: #fff;
    padding: 0;
    margin: 0;
}
header, footer, nav, section {
    display: block;
}
header, footer, section {
    background-color: #ffffff;
    background-color: rgba(255,255,255,0.5);
}
header, .answer-container, section, footer {
    font-weight: 300;
    margin: 0;
    vertical-align: bottom;
    text-align: center;
}
section {
    padding: 10px;
    margin: 10px 0;
}
section p, section ol {
    text-align: justify;
    margin: 0 auto 10px;
    max-width: 500px;
    font-size: 1.2em;
    padding-left: 0;
}
header, .answer-container  {
    color: rgb(81, 177, 201);
}
header {
    padding: 30px 0;
}
h1 {
    color: rgb(81, 177, 201);
    font-size: 5.4em;
    font-weight: 300;
}
h1 span {
    color: #555;
    font-size: 0.6em;
}
h2 {
    color: rgb(81, 177, 201);
    font-size: 3.4em;
    font-weight: 300;
    margin: 10px 0;
}
h3 {
    text-align: center;
}
a {
    color: rgb(81, 177, 201);
    text-decoration: none;
}
a:hover {
        color: rgb(62, 135, 153);
}
body {
    background-image: url(escheresque.png);
}
.form-container, .answer-container {
    font-size: 1.4em;
    background-color: #ffffff;
    background-color: rgba(255,255,255,0.5);
    border-top: 4px solid rgb(81, 177, 201);
    border-bottom: 2px solid #555;
    max-width: 500px;
    margin: 10px auto;
    word-wrap: break-word;
}
.answer-container {
    display: block;
    opacity: 0; 
    height: 0;
    overflow: hidden;
    -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
}
.fm-actons {
    margin: 10px auto 0;
}
.fm-slider {
    margin: 0 12px;
    display: inline-block;
    width: 40%;
    vertical-align: middle;
}
.fm-slider-label {
    vertical-align: middle;
}
input[type=submit] {
    font-size: 1.1em;
    margin: 0 auto;
    background-color: #eeeeee;
    border-top: 2px solid rgb(81, 177, 201);
    border-bottom: none;
    border-right: none;
    border-left: none;
    text-decoration: none;
    color: rgb(81, 177, 201);
    cursor: pointer;
    overflow: visible;
    padding: 5px 15px 5px 20px;
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
}
    input[type=submit]:hover {
        background-color: #d3d3d3;
        color: rgb(62, 135, 153);
    }
.fm-q {
    margin: 2px 0;
    min-height: 33px;
}
.fm-q label {
    width: 30%;
    display: inline-block;
    text-align: right;
    margin-right: 3px;
}
.fm-q label.error, .fm-q label.warning {
    width: 69%;
    color: red;
    margin-left: 31%;
    text-align: left;
}
.fm-q input[type=text], .fm-q input[type=password] {
    width: 65%;
    display: inline-block;
    font-size: 1.1em;
    padding: 4px 0;
}
/* FOOTER
    ------------------------------------------------------*/
footer {
    margin-top: 10px;
    padding-bottom: 10px;
}
footer h2 {
    font-size: 2.4em;
	text-align: center;
    color: rgb(81, 177, 201);
}
.footer-column {
	margin: 0 auto;
	display: block;
	vertical-align: top;
    max-width: 500px;
}
	.footer-column ul {
		list-style-type: none;
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		-webkit-padding-start: 0;
	}
	.footer-column li {
		text-align: center;
	}
.footer-column-3{
	width: 33%
}
.footer-column-2 {
	width: 49%;
}
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}
.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}
.answer-container h2 {
    position: relative;
}
.result {
    position: relative;
}
.result.copied {
    margin-top: 100px;
    opacity: 0;
    transition: all 2s ease-out;
}
@media only screen and (max-width: 330px) {
    .fm-q label {
        font-size: 0.76em
    }
    header, .answer-container {
        padding: 10px 0;

    }
    h1 {
        font-size: 3.4em;
    }
    h2 {
        font-size: 1.4em;
    }
	footer {
		font-size:  0.9em;
		margin: 0 auto;
	}
		.footer-column {
			display: block;
		}
	.footer-column-3{
		width: 100%
	}
	.footer-column-2 {
		display: inline-block;
	}
}
