@{
    ViewBag.Title = "SecurePass";
    Layout = "../Shared/_Layout.cshtml";
}
@section scripts {
    <script type="text/javascript">
        $(function() {
            var securePass = new SecureClass();
            $('#getMemorable').click(function () {
                generatePass('memorable');
            });
            $('#getSuper').click(function () {
                generatePass('secure');
            });
            var generatePass = function (type) {
                $('#securepass-result').text('');
                $('.answer-container').css('opacity', 0);
                $('.answer-container').css('height', 0);
                $('.field-validation-error').hide();
                var domain = $('#ServiceName').val();
                var key = $('#SecretWord').val();
                if (domain.length === 0) {
                    $('.field-validation-error').text('Please enter a domain');
                    $('.field-validation-error').show();
                    return;
                }
                if (key.length > 7) {
                    var result;
                    if (type === 'secure') {
                        result = securePass.generateSecure(domain, key);
                    } else {
                        result = securePass.generateMemorable(domain, key);
                    }
                    $('#securepass-result').text(result);
                } else {
                    $('.field-validation-error').text('Secret word needs to be at least 8 characters');
                    $('.field-validation-error').show();
                    return;
                }
                $('.answer-container').css('opacity', 1);
                $('.answer-container').css('height', 'auto');
            };
        });
    </script>
}
<div class="form-container">
    <h3>Generate Your Secure Password:</h3>
    <div class="fm-q">
        <label for="ServiceName">Domain Name:</label>
        <input id="ServiceName" name="ServiceName" placeholder="eg. google.com" type="text" value="">
    </div>
    <div class="fm-q">
        <label for="SecretWord">Secret Word:</label>
        <input id="SecretWord" name="SecretWord" type="text" value="">
        <span class="field-validation-error"></span>
    </div>
    <div class="fm-actons">
        <input type="submit" id="getMemorable" value="Get Secure Password" />
        <input type="submit" id="getSuper" value="Get Super Secure Password" />
    </div>
</div>
<div class="answer-container">
    <h2 id="securepass-result"></h2>
</div>