@{
    ViewBag.Title = "SecurePass";
    Layout = "../Shared/_Layout.cshtml";
}
@section scripts {
    <script type="text/javascript">
        $(function () {
            $("#password-slider").slider({
                range: "max",
                min: 8,
                max: 24,
                value: 8,
                slide: function (event, ui) {
                    $("#PasswordLength").text(ui.value);
                }
            });
            $("#PasswordLength").text($("#password-slider").slider("value"));
            $("#PasswordLength").change(function () {
                if (7 < parseInt(this.value) & parseInt(this.value) < 25 ) {
                    $("#password-slider").slider("value", this.value);
                } else if (8 > parseInt(this.value)) {
                    this.value = 8;
                } else if (parseInt(this.value) > 24 ) {
                    this.value = 24;
                }
            });
            var securePass = new SecureClass();
            $('#getPass').click(function () {
                generatePass();
            });
            var generatePass = function () {
                $('#securepass-result').text('');
                $('.answer-container').css('opacity', 0);
                $('.answer-container').css('height', 0);
                $('.field-validation-error').hide();
                var domain = $('#ServiceName').val();
                var key = $('#SecretWord').val();
                var length = $("#password-slider").slider("value");
                var special = $("#IncluseSpecial").is(':checked');
                if (domain.length === 0) {
                    $('.field-validation-error').text('Please enter a domain');
                    $('.field-validation-error').show();
                    return;
                }
                if (key.length > 7) {
                    $('#securepass-result').text(securePass.generateSecurePass(domain, key, length, special));
                } else {
                    $('.field-validation-error').text('Secret word needs to be at least 8 characters');
                    $('.field-validation-error').show();
                    return;
                }
                $('.answer-container').css('opacity', 1);
                $('.answer-container').css('height', 'auto');
            };
        });
    </script>
}
<div class="form-container">
    <h3>Generate Your Secure Password:</h3>
    <div class="fm-q">
        <label for="ServiceName">Domain Name:</label>
        <input id="ServiceName" name="ServiceName" placeholder="eg. google.com" type="text" value="">
    </div>
    <div class="fm-q">
        <label for="SecretWord">Secret Word:</label>
        <input id="SecretWord" name="SecretWord" type="text" value="">
    </div>
    <div class="fm-q">
        <label for="PasswordLength">Password Length:</label>
        <div id="password-slider" class="fm-slider"></div>
        <span id="PasswordLength" class="fm-slider-label"/>
    </div>
    <div class="fm-q">
        <label for="IncluseSpecial">Special Characters:</label>
        <input id="IncluseSpecial" name="IncluseSpecial" type="checkbox" checked="checked">
    </div>
    <span class="field-validation-error"></span>
    <div class="fm-actons">
        <input type="submit" id="getPass" value="Get Secure Password" />
    </div>
</div>
<div class="answer-container">
    <h2 id="securepass-result"></h2>
</div>
<section>
    <h2>What is it?</h2>
    <p>
        These days one of the most exploited threats to personal online security is password re-use. SecurePass attempts to solve this problem by making it simple to use a unique, secure password for every different site you log into, without having to memorize a huge list of convoluted password combinations. SecurePass transforms your secret word into a secure password that is unique to each domain you log into. This means that all you need to remember is your secret word; no more password protected documents containing lists of secure passwords and no more online password managers that could potentially be hacked. 
    </p>
    <p>
        SecurePass generates your unique password within your browser rather than somewhere in ‘The Cloud’. This means that your secret word and your password are not transferred over the internet, making it impossible for hackers to intercept - unless they are stood behind you, with a video phone, filming your fingers typing.  
    </p>
    <p>
        If the unexpected happens and one of your accounts is compromised, the hackers won’t be able to access your other accounts as each website has its own unique password. SecurePass uses an industry standard algorithm to generate your password which means there is no danger of hackers recovering your secret word.
    </p>
</section>
<section>
    <h2>How do I use it?</h2>
    <p>
        Using SecurePass is simple. SecurePass is currently only available through this website, however a Google Chrome extension is in development which will allow users to simpler enter your secret word on any log-in page. 
    </p>
    <p>
        For more information and updates about SecurePass, see my <a href="http://www.macsentom.co.uk" 
                                                                     title="Macs Dickinson" >blog</a>.
    </p>
    <!--Well first of all you can test how it 
        works on this site, enter the domain for the site you’re logging in 
        to and your secret word and see what happens. But you don’t want to 
        be coming onto this site every time you need to log in to something 
        so go ahead and install our <a href="https://chrome.google.com/webstore/detail/securepass/jmlefpoknlahkhbigofglcbmpkikandd" title="SecurePass in the web store" target="_blank">Google Chrome extension</a>. This plugin attaches 
        to your browser giving you the option to use SecurePass directly in 
        the sites you know. Not using Google Chrome? Have no fear, install our 
        bookmarklet to convert the password for you.-->
</section>
<!--
    <section>
        <h2>Using the Chrome Extension</h2>
        <p>
            Installing the Google Chrome extension is by far the easiest way to use SecurePass.
        </p>
        <ol>
            <li>Head over to the <a href="https://chrome.google.com/webstore/detail/securepass/jmlefpoknlahkhbigofglcbmpkikandd" title="SecurePass in the web store" target="_blank">Google Chrome web store</a> and install the extension.</li>
            <li>Once installed all login boxes will be wrapped by the SecurePass login box. To open SecurePass click on the key icon.</li>
            <li>This opens the SecurePass modal. Enter your keyword here and select to generate either the secure password or super secure password.</li>
            <li>SecurePass will insert the secure password into the password box, all you need to do now is click log in.</li>
        </ol>
    </section>
-->