@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}
@section scripts {
    <script type="text/javascript">
        $(function() {
            var securePass = new SecureClass();
            $('#getMemorable').click(function() {
                var result = securePass.generateMemorable($('#ServiceName').val(), $('#SecretWord').val());
                $('#securepass-result').text(result);
            });
        });
    </script>
}
<h1>SecurePass</h1>
<div class="form-container">
    <h2>Get Your Secure Password:</h2>
    <div class="fm-q">
        <label for="ServiceName">Service Name:</label>
        <input id="ServiceName" name="ServiceName" placeholder="eg. google.com" type="text" value="">
        <span class="field-validation-valid" for="ServiceName"></span>
    </div>
    <div class="fm-q">
        <label for="SecretWord">Secret Word</label>
        <input id="SecretWord" name="SecretWord" type="text" value="">
        <span class="field-validation-valid" for="SecretWord"></span>
    </div>
    <div class="fm-actons">
        <input type="submit" class="btn btn-primary btn-sign-in" id="getMemorable" value="Get Unique Memorable Password" />
        <input type="submit" class="btn btn-primary btn-sign-in" id="getSuper" value="Get Super Secure Password" />
    </div>
</div>
<span id="securepass-result"></span>