.uniquify-h3 {
	text-align: center;
	display: block;
	font-size: 1.17em;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}
.uniquify-btn {
    vertical-align: middle;
	position: absolute !important;
	z-index: 100 !important;
	padding: 0 !important;
	border: none !important;
}
.uniquify-btn :hover{
	cursor: pointer !important;
}
.uniquify-wrapper{
	position: relative;
	/*border: 3px rgb(81, 177, 201) solid;
	overflow: hidden;*/
}
.uniquify-popup {
	font-size: 1.4em;
	background-color: #fff;
	background-color: rgba(255,255,255,.9);
	border-top: 4px solid rgb(81, 177, 201);
	border-bottom: 2px solid #555;
	width: 500px;
	margin: 10px auto;
	word-wrap: break-word;
	display: none;
	font-family: 'Open Sans Condensed', sans-serif !important;
    -webkit-transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -ms-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}
    .uniquify-popup h1 {
        color: rgb(81, 177, 201) !important;
        font-size: 3.4em !important;
        font-weight: 300 !important;
    	text-align: center !important;
    }
    .uniquify-popup h3 {
        color: rgb(81, 177, 201) !important;
        font-size: 1.4em !important;
        font-weight: 300 !important;
        margin: 10px 0 !important;
    	margin-left: 15px !important;
    }
    .uniquify-popup a {
        color: rgb(81, 177, 201);
        text-decoration: none !important;
    }
    .uniquify-popup a:hover {
            color: rgb(62, 135, 153);
    }

.uniquify-slider {
    margin: 0 12px;
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}
.uniquify-slider-label {
    margin-left: 5px;
    vertical-align: middle;
}
.noUi-base {
    background-color: rgb(81, 177, 201);
}
.noUi-origin {
    background-color: white;
}
.uniquify-actons {
    margin: 10px auto 0;
}
.uniquify-actons input[type=submit] {
    font-size: 1.1em !important;
    margin: 0 auto !important;
    background-color: #eeeeee !important;
    border-top: 2px solid rgb(81, 177, 201) !important;
    border-bottom: none !important;
    border-right: none !important;
    border-left: none !important;
    text-decoration: none !important;
    color: rgb(81, 177, 201) !important;
    cursor: pointer !important;
    overflow: visible !important;
    padding: 5px 15px 5px 20px !important;
    width: 100% !important;
    font-family: 'Open Sans Condensed', sans-serif !important;
    font-weight: 700 !important;
}
    .uniquify-actons input[type=submit]:hover {
        background-color: #d3d3d3 !important;
        color: rgb(62, 135, 153) !important;
    }
.uniquify-q {
    margin: 2px 0;
    min-height: 33px;
}
.uniquify-q label {
    width: 30%;
    display: inline-block;
    text-align: right;
    margin-right: 3px;
}
.uniquify-q input[type=text], .uniquify-q input[type=password] {
    display: inline-block;
    font-size: 1.1em;
    padding: 4px 0;
}
.uniquify-q input[type=text], .uniquify-q input[type=password] {
    width: 65%;
}
    .uniquify-q input[type=text].uniquify-key, .uniquify-q input[type=password].uniquify-key {
        width: 55%;
    }
.uniquify-click{
	display: none;
}
.uniquify-error, .uniquify-warning {
    width: 69%;
    color: red;
    margin-left: 31%;
    text-align: left;
}
.uniquify-show-key, .uniquify-delete-key {
    padding: 5px 0;
    color: lightgray !important;
}
    .uniquify-show-key:hover, .uniquify-delete-key:hover {
        cursor: pointer;
        color: grey !important;
    }
    .uniquify-show-key:active, .uniquify-delete-key:active {
        color: rgb(81, 177, 201);
    }

.uniquify-add-key:hover {
    cursor: pointer;
}
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
} 
@font-face {
    font-family: 'icomoon';
    src: url('chrome-extension://cilkmaiabgaalocpkakabifkhlciglmm/fonts/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
[class^="uniquify-icon-"], [class*=" uniquify-icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
[class^="uniquify-icon-"]:hover, [class*=" uniquify-icon-"]:hover {
    color: rgb(81, 177, 201);
    cursor: pointer;
}
.uniquify-icon-key2:before {
    content: "\e602";
}
.uniquify-icon-eye:before {
    content: "\e600";
}
.uniquify-icon-plus2:before {
    content: "\e605";
}
.uniquify-icon-key4:before {
    content: "\e607";
}
.uniquify-icon-eye2:before {
    content: "\e601";
}
.uniquify-icon-trash:before {
    content: "\e603";
}